Self-Hosted Platforms/N8N/MyAnimeList/_Guilded__MyAnimeList_Feed___Reisonancia_Anime__Luminis_Nobilite_.json
{
  "name": "(Guilded) MyAnimeList Feed - Reisonancia Anime [Luminis Nobilite]",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rssLink = $('RSS Feed Trigger').item.json.link;\nconst animeID = rssLink.match(/anime\\/(\\d+)/)[1];\n\nreturn { animeID };"
      },
      "id": "a2224326-e0b0-493e-82f9-4cdc820a38ba",
      "name": "Fetch AnimeID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        460
      ]
    },
    {
      "parameters": {
        "url": "=https://api.jikan.moe/v4/anime/{{$json.animeID}}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5,
              "batchInterval": 20000
            }
          }
        }
      },
      "id": "823512da-4378-4f4e-9ac2-fd6d37226b62",
      "name": "HTTP Request - Jikan.moe API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1060,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://media.guilded.gg/webhooks/REDACTED",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 10,
              "batchInterval": 10000
            }
          }
        }
      },
      "id": "fb5eb347-f0e7-4887-9ba6-a012062c0bd7",
      "name": "HTTP Request - Guilded Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1420,
        460
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "feedUrl": "=https://myanimelist.net/rss.php?type=rw&u=Reisonancia"
      },
      "id": "841000a9-ac26-4651-a0a2-508e58b27cc7",
      "name": "RSS Feed Trigger",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        660,
        460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function convertTimestamp(inputTimestamp) {\n  const dateObj = new Date(inputTimestamp);\n  const options = { weekday: 'short', day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', timeZone: 'GMT', timeZoneName: 'short' };\n  return dateObj.toLocaleString('en-US', options);\n}\n\nconst inputTimestamp = $('RSS Feed Trigger').item.json.pubDate;\nconst convertedTimestamp = convertTimestamp(inputTimestamp);\n\n\nconst animeData = $('HTTP Request - Jikan.moe API').item.json.data;\n\nconst embedFields = [\n  { name: 'Type', value: animeData.type, inline: true },\n  { name: 'Episodes', value: animeData.episodes.toString(), inline: true },\n  { name: 'Status', value: animeData.status, inline: true },\n  { name: 'Aired', value: animeData.aired.string, inline: true },\n  { name: 'Premiered', value: `${animeData.season} ${animeData.year}`, inline: true },\n  { name: 'Producers', value: animeData.producers.map(producer => `[${producer.name}](${producer.url})`).join(', '), inline: true },\n  { name: 'Licensors', value: animeData.licensors.map(licensor => `[${licensor.name}](${licensor.url})`).join(', '), inline: true },\n  { name: 'Studio', value: `[${animeData.studios[0].name}](${animeData.studios[0].url})`, inline: true },\n  { name: 'Genre', value: animeData.genres.map(genre => `[${genre.name}](${genre.url})`).join(', '), inline: true },\n  { name: 'Themes', value: animeData.themes.map(theme => `[${theme.name}](${theme.url})`).join(', '), inline: true },\n  { name: 'Score', value: animeData.score.toString(), inline: true },\n  { name: 'Ranked', value: `#${animeData.rank}`, inline: true },\n  { name: 'Popularity', value: `#${animeData.popularity}`, inline: true },\n  { name: 'Members', value: animeData.members.toString(), inline: true }\n];\n\nvar body = {\n  embeds: [\n    {\n      color: 3035554,\n      author: {\n        name: \"Reisonantia's Recent Anime (MyAnimeList)\",\n        url: 'https://myanimelist.net/profile/Reisonantia',\n        icon_url: 'https://raw.githubusercontent.com/LuminisNobilite/Eclipse/main/Assets/MyAnimeList/Avatars/Reisonantia.webp',\n      },\n      title: animeData.title,\n      url: animeData.url,\n      image: {\n        url: animeData.images.jpg.large_image_url\n      },\n      description: $('RSS Feed Trigger').item.json.content,\n      fields: embedFields,\n      footer: {\n        text: `MyAnimeList • ${convertedTimestamp}`,\n        icon_url: 'https://raw.githubusercontent.com/LuminisNobilite/Eclipse/main/Assets/Icons/Guilded/Guilded%20-%20Gold%20MyAnimeList%20Icon%20v1.png',\n      }\n    }\n  ]\n};\n\nreturn { body };"
      },
      "id": "cf382fb9-4e36-4462-b714-a6582ab0d34b",
      "name": "Main Driver Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1240,
        460
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Fetch AnimeID": {
      "main": [
        [
          {
            "node": "HTTP Request - Jikan.moe API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Jikan.moe API": {
      "main": [
        [
          {
            "node": "Main Driver Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Fetch AnimeID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Driver Code": {
      "main": [
        [
          {
            "node": "HTTP Request - Guilded Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "versionId": "e83dfcf8-532f-46ce-a34f-49d870937c37",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f3e8646dc25bb703680f7fd48308e56289d71dc10dc3ea0c5d57254342b6a676"
  },
  "id": "8ieaNthx9mfTjkTN",
  "tags": []
}