Self-Hosted Platforms/N8N/Youtube/_Guilded__Youtube_Gaming_Feed___GIRLS__FRONTLINE_2__EXILIUM_Official__GFL2EXILIUM__Light_Circle_.json
{
  "name": "(Guilded) Youtube Gaming Feed - GIRLS' FRONTLINE 2: EXILIUM-Official @GFL2EXILIUM [Light Circle]",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "48424f0f-bc22-48c1-8d70-7d1d0510322f",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1200,
        260
      ]
    },
    {
      "parameters": {
        "url": "https://www.youtube.com/feeds/videos.xml?channel_id=UCmDodc4RZZHh8yRJP2aAuIQ",
        "options": {}
      },
      "id": "c3e5e119-916c-44dd-885c-518db760b1fc",
      "name": "HTTP Request - Youtube API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        980,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return $json.feed.entry[$itemIndex];"
      },
      "id": "c9352329-3eec-4ad2-9bc3-419595a3ecec",
      "name": "Filter Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1400,
        140
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function convertTimestamp(inputTimestamp) {\n  const dateObj = new Date(inputTimestamp);\n  const options = { weekday: 'short', day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', timeZone: 'GMT', timeZoneName: 'short' };\n  return dateObj.toLocaleString('en-US', options);\n}\n\nconst iconUrlFinal = 'https://raw.githubusercontent.com/LightCircleLLC/Eclipse/refs/heads/main/Assets/Twitter/Twitter%20Gaming%20Feeds/Avatars/%40GF2EXILIUM_EN_400x400.jpg';\nconst nameInit = $('RSS Feed Trigger').item.json['author'];\n\nconst data = $('Set').item.json.data;\n\nconst snippet = $('Set').item.json.data[0].snippet;\n\nlet thumbnailUrl;\n\nif (snippet.thumbnails.maxres && snippet.thumbnails.maxres.url) {\n  thumbnailUrl = snippet.thumbnails.maxres.url;\n} else if (snippet.thumbnails.high && snippet.thumbnails.high.url) {\n  thumbnailUrl = snippet.thumbnails.high.url;\n} else if (snippet.thumbnails.medium && snippet.thumbnails.medium.url) {\n  thumbnailUrl = snippet.thumbnails.medium.url;\n} else if (snippet.thumbnails.default && snippet.thumbnails.default.url) {\n  thumbnailUrl = snippet.thumbnails.default.url;\n} else {\n  // Handle the case when no suitable thumbnail is available\n  thumbnailUrl = 'https://images5.alphacoders.com/123/1235223.jpg'; // Custom URL\n}\n\n\nconst inputTimestamp = $('RSS Feed Trigger').item.json.pubDate;\nconst convertedTimestamp = convertTimestamp(inputTimestamp);\n\nconst textMod = String.prototype.concat(\"Youtube • \", convertedTimestamp);\n\nlet descriptionHyperlinked = $('Filter Code').item.json['media:group']['media:description'];\n\n// Use a regular expression to search for URLs within the description field\nconst urlRegex = /(https?:\\/\\/[^\\s]+)/g;\ndescriptionHyperlinked = descriptionHyperlinked.replace(urlRegex, '[$1]($1)');\n\n// Regular expression pattern to match hashtags\nconst hashtagRegex = /(^|\\s)(#[^\\s]+)/g;\n// Find all the hashtags in the description string\nconst hashtags = descriptionHyperlinked.match(hashtagRegex);\n// Replace the hashtags with URLs\nif (hashtags) {\n  hashtags.forEach(hashtag => {\n    const cleanHashtag = hashtag.trim(); // Remove leading and trailing spaces\n    const hashtagUrl = `https://www.youtube.com/hashtag/${cleanHashtag.toLowerCase().replace('#', '')}`;\n    const hashtagLink = `[${cleanHashtag}](${hashtagUrl})`; // Use cleaned hashtag\n    // Check if there's a closing square bracket ']' after the hashtag, and if not, add a space\n    if (!/\\]\\([^)]*$/.test(descriptionHyperlinked)) {\n      descriptionHyperlinked = descriptionHyperlinked.replace(hashtag, `${hashtagLink} `); // Insert space after the link\n    } else {\n      descriptionHyperlinked = descriptionHyperlinked.replace(hashtag, `${hashtagLink}`);\n    }\n  });\n}\n\n// Regular expression pattern to match @ mentions\nconst mentionRegex = /(^|\\s)@(\\w+)/g;\n// Find all the @ mentions in the description string\nconst mentions = descriptionHyperlinked.match(mentionRegex);\n// Replace the @ mentions with URLs\nif (mentions) {\n  mentions.forEach(mention => {\n    const username = mention.trim().substring(1); // Remove leading '@' and trim spaces\n    const mentionUrl = `https://youtube.com/${username}`;\n    const mentionLink = `[@${username}](${mentionUrl})`; // Include the '@' symbol\n    descriptionHyperlinked = descriptionHyperlinked.replace(mention, mentionLink);\n  });\n}\n\n\nlet embed = {\n    color: 16711680,\n    author: {\n      name: nameInit,\n      url: 'https://www.youtube.com/@AetherGazerOfficialYostar',\n      icon_url: iconUrlFinal,\n    },\n    url: $(\"RSS Feed Trigger\").item.json['link'],\n    image: {\n      url: thumbnailUrl,\n    },\n    footer: {\n      text: textMod,\n      icon_url: 'https://raw.githubusercontent.com/LuminisNobilite/Eclipse/main/Assets/Icons/Guilded/Guilded%20-%20Gold%20Youtube%20Icon%20v1.png',\n    },\n  };\n    embed.title = $('RSS Feed Trigger').item.json['title'];\n    embed.description = descriptionHyperlinked;\n  const body = {\n    embeds: [embed],\n  };\n  return { body };"
      },
      "id": "125086b7-2623-45cb-9f65-84f3e875f36e",
      "name": "Main Driver Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1800,
        140
      ]
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/youtube/v3/videos?id={{ $json['yt:videoId'] }}&key=REDACTED&part=snippet&fields=items/snippet/thumbnails",
        "options": {}
      },
      "id": "e2980937-f96f-49c0-a60c-11ef227b3484",
      "name": "Youtube Data API V3 HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1500,
        380
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "data",
              "value": "={{ $json.items }}"
            },
            {
              "name": "data[0]",
              "value": "={{ $json.items[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c9f8e474-70d1-4e18-a772-80de9de889af",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1640,
        260
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX"
            }
          ]
        },
        "feedUrl": "https://www.youtube.com/feeds/videos.xml?channel_id=UCmDodc4RZZHh8yRJP2aAuIQ"
      },
      "id": "ee3514ea-1af2-4d4d-9941-495bee4446a5",
      "name": "RSS Feed Trigger",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        800,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://media.guilded.gg/webhooks/REDACTED",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 10,
              "batchInterval": 10000
            }
          }
        }
      },
      "id": "727a090f-a212-4117-9c74-c4d011d454be",
      "name": "HTTP Request (Guilded)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2000,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/REDACTED",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.body.embeds[0].url }) }}",
        "options": {}
      },
      "id": "9b912524-3f34-471b-8d0a-902d936eef1c",
      "name": "HTTP Request (Discord)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "XML": {
      "main": [
        [
          {
            "node": "Filter Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Youtube API": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Code": {
      "main": [
        [
          {
            "node": "Youtube Data API V3 HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Driver Code": {
      "main": [
        [
          {
            "node": "HTTP Request (Guilded)",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request (Discord)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube Data API V3 HTTP": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Main Driver Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request - Youtube API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "versionId": "ebb204a0-d2ed-4f90-8387-7633fc942796",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f3e8646dc25bb703680f7fd48308e56289d71dc10dc3ea0c5d57254342b6a676"
  },
  "id": "pRuBEeN5qg03tonT",
  "tags": []
}