Self-Hosted Platforms/N8N/Youtube/_Guilded__Youtube_Gaming_Feed___Azur_Promilia_Official__AzurPromilia__Light_Circle_.json
{
  "name": "(Guilded) Youtube Gaming Feed - Azur Promilia Official @AzurPromilia [Light Circle]",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "40b1c8c1-d26f-46e8-a5fb-e9941443da54",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1200,
        260
      ]
    },
    {
      "parameters": {
        "url": "https://www.youtube.com/feeds/videos.xml?channel_id=UCmVpPJ7GG4S0NxakMs0vjHg",
        "options": {}
      },
      "id": "c7eb7f52-1087-4c6b-a1c7-a74e08e4af83",
      "name": "HTTP Request - Youtube API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        980,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return $json.feed.entry[0];"
      },
      "id": "e4d16017-1764-4045-b6a7-de320d59cb91",
      "name": "Filter Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1400,
        140
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function convertTimestamp(inputTimestamp) {\n  const dateObj = new Date(inputTimestamp);\n  const options = { weekday: 'short', day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', timeZone: 'GMT', timeZoneName: 'short' };\n  return dateObj.toLocaleString('en-US', options);\n}\n\nconst iconUrlFinal = 'https://raw.githubusercontent.com/LuminisNobilite/Eclipse/main/Assets/Twitter/Twitter%20Gaming%20Feeds/Avatars/%40AzurPromilia_EN_1080x1080.webp';\nconst nameInit = $('RSS Feed Trigger').item.json['author'];\n\nconst data = $('Set').item.json.data;\n\nconst snippet = $('Set').item.json.data[0].snippet;\n\nlet thumbnailUrl;\n\nif (snippet.thumbnails.maxres && snippet.thumbnails.maxres.url) {\n  thumbnailUrl = snippet.thumbnails.maxres.url;\n} else if (snippet.thumbnails.high && snippet.thumbnails.high.url) {\n  thumbnailUrl = snippet.thumbnails.high.url;\n} else if (snippet.thumbnails.medium && snippet.thumbnails.medium.url) {\n  thumbnailUrl = snippet.thumbnails.medium.url;\n} else if (snippet.thumbnails.default && snippet.thumbnails.default.url) {\n  thumbnailUrl = snippet.thumbnails.default.url;\n} else {\n  // Handle the case when no suitable thumbnail is available\n  thumbnailUrl = 'https://static.zerochan.net/Azur.Promilia.full.4191851.jpg'; // Custom URL\n}\n\n\nconst inputTimestamp = $('RSS Feed Trigger').item.json.pubDate;\nconst convertedTimestamp = convertTimestamp(inputTimestamp);\n\nconst textMod = String.prototype.concat(\"Youtube • \", convertedTimestamp);\n\nlet descriptionHyperlinked = $('Filter Code').item.json['media:group']['media:description'];\n\n// Use a regular expression to search for URLs within the description field\nconst urlRegex = /(https?:\\/\\/[^\\s]+)/g;\ndescriptionHyperlinked = descriptionHyperlinked.replace(urlRegex, '[$1]($1)');\n\n// Regular expression pattern to match hashtags\nconst hashtagRegex = /(^|\\s)(#[^\\s]+)/g;\n// Find all the hashtags in the description string\nconst hashtags = descriptionHyperlinked.match(hashtagRegex);\n// Replace the hashtags with URLs\nif (hashtags) {\n  hashtags.forEach(hashtag => {\n    const cleanHashtag = hashtag.trim(); // Remove leading and trailing spaces\n    const hashtagUrl = `https://www.youtube.com/hashtag/${cleanHashtag.toLowerCase().replace('#', '')}`;\n    const hashtagLink = `[${cleanHashtag}](${hashtagUrl})`; // Use cleaned hashtag\n    // Check if there's a closing square bracket ']' after the hashtag, and if not, add a space\n    if (!/\\]\\([^)]*$/.test(descriptionHyperlinked)) {\n      descriptionHyperlinked = descriptionHyperlinked.replace(hashtag, `${hashtagLink} `); // Insert space after the link\n    } else {\n      descriptionHyperlinked = descriptionHyperlinked.replace(hashtag, `${hashtagLink}`);\n    }\n  });\n}\n\n// Regular expression pattern to match @ mentions\nconst mentionRegex = /(^|\\s)@(\\w+)/g;\n// Find all the @ mentions in the description string\nconst mentions = descriptionHyperlinked.match(mentionRegex);\n// Replace the @ mentions with URLs\nif (mentions) {\n  mentions.forEach(mention => {\n    const username = mention.trim().substring(1); // Remove leading '@' and trim spaces\n    const mentionUrl = `https://youtube.com/${username}`;\n    const mentionLink = `[@${username}](${mentionUrl})`; // Include the '@' symbol\n    descriptionHyperlinked = descriptionHyperlinked.replace(mention, mentionLink);\n  });\n}\n\n\nlet embed = {\n    color: 16711680,\n    author: {\n      name: nameInit,\n      url: 'https://www.youtube.com/@AzurPromilia',\n      icon_url: iconUrlFinal,\n    },\n    url: $(\"RSS Feed Trigger\").item.json['link'],\n    image: {\n      url: thumbnailUrl,\n    },\n    footer: {\n      text: textMod,\n      icon_url: 'https://raw.githubusercontent.com/LuminisNobilite/Eclipse/main/Assets/Icons/Guilded/Guilded%20-%20Gold%20Youtube%20Icon%20v1.png',\n    },\n  };\n    embed.title = $('RSS Feed Trigger').item.json['title'];\n    embed.description = descriptionHyperlinked;\n  const body = {\n    embeds: [embed],\n  };\n  return { body };"
      },
      "id": "30ff7b78-2eea-462a-b44d-02091fe1ea86",
      "name": "Main Driver Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1800,
        140
      ]
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/youtube/v3/videos?id={{ $json['yt:videoId'] }}&key=REDACTED&part=snippet&fields=items/snippet/thumbnails",
        "options": {}
      },
      "id": "ff1e922d-70de-431e-a605-ce30cac41b1e",
      "name": "Youtube Data API V3 HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1500,
        380
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "data",
              "value": "={{ $json.items }}"
            },
            {
              "name": "data[0]",
              "value": "={{ $json.items[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "586ec79e-bd60-4e8d-962b-3b57bafa59f3",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1640,
        260
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX"
            }
          ]
        },
        "feedUrl": "https://www.youtube.com/feeds/videos.xml?channel_id=UCmVpPJ7GG4S0NxakMs0vjHg"
      },
      "id": "ed14b322-3976-408f-bb0e-5a47d098a837",
      "name": "RSS Feed Trigger",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        800,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://media.guilded.gg/webhooks/REDACTED",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 10,
              "batchInterval": 10000
            }
          }
        }
      },
      "id": "32155689-3184-4d52-83d3-d6575510244f",
      "name": "HTTP Request (Guilded)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1980,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/REDACTED",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.body.embeds[0].url }) }}",
        "options": {}
      },
      "id": "4cb385ee-d830-47b4-b87e-458957f41969",
      "name": "HTTP Request (Discord)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "XML": {
      "main": [
        [
          {
            "node": "Filter Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Youtube API": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Code": {
      "main": [
        [
          {
            "node": "Youtube Data API V3 HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Driver Code": {
      "main": [
        [
          {
            "node": "HTTP Request (Guilded)",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request (Discord)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube Data API V3 HTTP": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Main Driver Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request - Youtube API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "versionId": "b90a3dfb-a834-4291-a8ce-43debe0739ac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f3e8646dc25bb703680f7fd48308e56289d71dc10dc3ea0c5d57254342b6a676"
  },
  "id": "4xOFQwaNbK7zeU8t",
  "tags": []
}