Self-Hosted Platforms/N8N/BOINC/_Guilded__Free_DC___BOINC_Project_Statistics_AutoFlow__Eclipse_.json
{
  "name": "(Guilded) Free-DC - BOINC Project Statistics AutoFlow [Eclipse]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "ef15a0c6-7776-464e-9c8c-7415caef3a25",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        760,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function convertTimestamp(inputTimestamp) {\n  const dateObj = new Date(inputTimestamp);\n  const options = { weekday: 'short', day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', timeZone: 'GMT', timeZoneName: 'short' };\n  return dateObj.toLocaleString('en-US', options);\n}\n\nconst inputTimestamp = DateTime.local();\nconst convertedTimestamp = convertTimestamp(inputTimestamp);\n\nconst textMod = String.prototype.concat(\"BOINC • \", convertedTimestamp);\nfunction randomizeTheme(url) {\nconst min = 1;\nconst max = 40;\nconst randomTheme = Math.floor(Math.random() * (max - min + 1)) + min;\n  \n// check if URL already has a theme parameter\nif (url.includes('theme=')) {\n// replace existing theme value with randomTheme\nreturn url.replace(/(theme=)\\d+/, `$1${randomTheme}`);\n} else {\n// add new theme parameter to URL\nreturn `${url}&theme=${randomTheme}`;\n}\n}\n\nconst inputUrl = \"https://stats.free-dc.org/cpidtagb.php?cpid=c2f0eca9c1142bb4faf5127cc8f3cacf&theme=1&cols=2\";\nconst outputUrl = randomizeTheme(inputUrl);\n\n\nvar body = {\n\"embeds\": [\n{\ntitle: \"Daily Stats Report\",\nurl: \"https://stats.free-dc.org/stats.php?page=userbycpid&cpid=c2f0eca9c1142bb4faf5127cc8f3cacf\",\ncolor: 2044507,\nfields: [\n{\nname: \"User\",\nvalue: \"Reisonantia\",\ninline: true\n},\n{\nname: \"Team\",\nvalue: \"Licht Kreis\",\ninline: true\n},\n{\nname: \"Country\",\nvalue: \"Mexico\",\ninline: true\n}\n],\nauthor: {\nname: \"Free-DC DCSS\",\nurl: \"https://stats.free-dc.org/stats.php?page=search&name=Reisonantia\",\nicon_url: \"https://moreabout.tech/wp-content/uploads/2016/09/BOINC.png\"\n},\nfooter: {\ntext: textMod,\nicon_url: \"https://cdn4.iconfinder.com/data/icons/bitcoin-technology-vol-1/128/public-ledger-512.png\"\n},\nimage: {\nurl: outputUrl\n},\nthumbnail: {\nurl: \"https://i.imgur.com/rWDp6Mn.png\"\n}\n}\n]\n}\n\nreturn {body}"
      },
      "id": "4bec62c9-bf7a-49b4-a05b-7bf9410a1651",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        980,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://media.guilded.gg/webhooks/REDACTED/REDACTED",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "31962a8a-495c-4e71-8d86-92bfb52fd762",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        380
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "431e7079-37ba-40ac-83c0-6806efc5f27f",
  "id": "11",
  "meta": {
    "instanceId": "b4064eb92c7535507071942878233279443b15c274be1b67e3cb385830153e1e"
  },
  "tags": []
}