Self-Hosted Platforms/N8N/Reddit/_Guilded__Reddit_SFW_Art_Feed___All_moe__all_the_time__r_Awwnime__Eclipse_.json
{
  "name": "(Guilded) Reddit SFW Art Feed - All moe, all the time /r/Awwnime [Eclipse]",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 20,
              "unit": "minutes"
            }
          ]
        },
        "feedUrl": "https://www.reddit.com/r/awwnime/hot/.rss"
      },
      "id": "b0d889d7-5a50-439e-944f-44d45587c63f",
      "name": "RSS Feed Trigger",
      "type": "n8n-nodes-rss-feed-trigger.rssFeedTrigger",
      "typeVersion": 1,
      "position": [
        700,
        480
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function convertTimestamp(inputTimestamp) {\n  const dateObj = new Date(inputTimestamp);\n  const options = { weekday: 'short', day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', timeZone: 'GMT', timeZoneName: 'short' };\n  return dateObj.toLocaleString('en-US', options);\n}\n\n\nconst inputTimestamp = $('RSS Feed Trigger').item.json.pubDate;\nconst convertedTimestamp = convertTimestamp(inputTimestamp);\n\n\nconst authorInit = $('RSS Feed Trigger').item.json.author;\nconst authorFinal = authorInit.replace(/\\/u\\//g, \"\");\nconst authorSnippet = \"submitted by \" + authorInit + \" [link] [comments]\";\nconst user_link = `https://reddit.com/user/${authorFinal}`;\nconst user_iconUrl = `https://avatar-resolver.vercel.app/reddit/${authorFinal}`;\nconst inputContent = $('RSS Feed Trigger').item.json.content;\nconst regex = /<img\\s+[^>]*src=\"([^\"]+)\"[^>]*>/g;\nconst match = regex.exec(inputContent);\n\n\nconst subredditRegex = /(\\/r\\/[^/]+)/;\nconst subreddit_urlInit = $('RSS Feed Trigger').item.json.link\nconst subreddit_urlMatch = subreddit_urlInit.match(subredditRegex);\nconst subreddit_urlFinal = subreddit_urlMatch ? subreddit_urlMatch[1] : null;\nconst nameInit = $('RSS Feed Trigger').item.json.author;\nconst nameFinal = String.prototype.concat(nameInit, \" in \", subreddit_urlFinal)\nconst textMod = String.prototype.concat(\"Reddit • \", convertedTimestamp);\n\n\n// Extracting text between <p> tags\nconst textRegex = /<p>(.*?)<\\/p>/gs;\nconst textMatches = inputContent.matchAll(textRegex);\nconst paragraphs = Array.from(textMatches, match => match[1]);\n\n// Concatenating paragraphs with line breaks\nconst text = paragraphs.join('\\n\\n');\n\n// Decoding HTML entities\nconst decoded_text = text.replace(/&#(\\d+);/g, (match, dec) => String.fromCharCode(dec));\n\n// Extracting image URL\nconst linkRegex = /<span><a href=\"([^\"]+)\">\\[link\\]<\\/a><\\/span>/;\nconst linkMatch = inputContent.match(linkRegex);\nlet image_url = null;\n\n\n\nif (linkMatch) {\n  const link = linkMatch[1];\n  if (link.includes('.gif') || link.includes('.jpg') || link.includes('.png')) {\n    image_url = link;\n  }\n}\n\n// Fallback to img src if image URL is not found\nif (!image_url) {\n  const imgRegex = /<img src=\"([^\"]+)\"/;\n  const imgMatch = inputContent.match(imgRegex);\n  image_url = imgMatch ? imgMatch[1] : null;\n}\n\n// Formatting links to Discord hyperlink format\nconst formatted_text = decoded_text.replace(/<a href=\"([^\"]+)\">(.*?)<\\/a>/g, '[$2]($1)');\n\nconst contentSnippet = $('TextManipulation').item.json.contentSnippet;\nconst maxSnippetLength = 2000;\n\nlet snippet = contentSnippet;\nif (snippet.length > maxSnippetLength) {\n  snippet = snippet.substring(0, maxSnippetLength);\n  // Trim the snippet to the last complete word\n  snippet = snippet.substring(0, snippet.lastIndexOf(' ')) + '...';\n}\n\n\nlet embed = {\n  color: 16733952,\n  author: {\n    name: nameFinal,\n    url: user_link,\n    icon_url: user_iconUrl,\n  },\n  url: $(\"RSS Feed Trigger\").item.json['link'],\n  footer: {\n    text: textMod,\n    icon_url: 'https://i.imgur.com/abUrCSj.png',\n  },\n};\n\nif (image_url) {\n  embed.image = {\n    url: image_url,\n  };\n}\nif(snippet.trim() !== \"\"){\n  embed.description = snippet.trim();\n}\n\nembed.title = $(\"RSS Feed Trigger\").item.json.title;\n\nconst body = {\n  embeds: [embed],\n};\n\nreturn { body };"
      },
      "id": "c1b6b0aa-521f-4dfc-8e11-861396bd0ee9",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1240,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://media.guilded.gg/webhooks/REDACTED",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "dc84f01e-d154-4204-a6b7-57e75d5cd3b4",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1420,
        480
      ]
    },
    {
      "parameters": {
        "html": "={{ $json.content }}",
        "destinationKey": "content",
        "options": {}
      },
      "id": "a5f6f293-124c-4b7c-9bc1-faa8152d1c6b",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        880,
        480
      ]
    },
    {
      "parameters": {
        "textsWithManipulations": {
          "textsWithManipulationsValues": [
            {
              "dataSources": {
                "dataSource": [
                  {
                    "readOperation": "fromJSON",
                    "sourceKey": "contentSnippet",
                    "destinationKey": "contentSnippet"
                  }
                ]
              },
              "manipulations": {
                "manipulation": [
                  {
                    "action": "replace",
                    "replaceMode": "regex",
                    "regex": "/[-_*]{3,}/gm"
                  },
                  {
                    "action": "replace",
                    "replaceMode": "extendedSubstring",
                    "substring": "submitted by "
                  },
                  {
                    "action": "replace",
                    "replaceMode": "regex",
                    "regex": "/\\/u\\/[A-Za-z0-9_-]+/g"
                  },
                  {
                    "action": "replace",
                    "replaceMode": "extendedSubstring",
                    "substring": "[link]"
                  },
                  {
                    "action": "replace",
                    "replaceMode": "extendedSubstring",
                    "substring": "[comments]"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "446a937f-0fff-4561-bea0-c21b70162638",
      "name": "TextManipulation",
      "type": "n8n-nodes-text-manipulation.textManipulation",
      "typeVersion": 1,
      "position": [
        1060,
        480
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "TextManipulation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TextManipulation": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "America/Mexico_City",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "228fdf7d-8ffa-447e-b1f9-30e9e1ed1385",
  "id": "50",
  "meta": {
    "instanceId": "44672d136b69a9f884e82f8d1a8bbe4977cb5c17b49f43a8860b3387f151c69c"
  },
  "tags": []
}