Self-Hosted Platforms/N8N/Twitter/_Guilded__Twitter_Artist_Feed___Orini__Orini_999__Luminis_Nobilite_.json
{
  "name": "(Guilded) Twitter Artist Feed - Orini @Orini_999 [Luminis Nobilite]",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "feedUrl": "https://nitter.1d4.us/Orini_999/rss"
      },
      "id": "4ccfdd9c-20ad-4822-9848-e11e5802aba9",
      "name": "RSS Feed Trigger",
      "type": "n8n-nodes-rss-feed-trigger.rssFeedTrigger",
      "typeVersion": 1,
      "position": [
        880,
        460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const regexPattern = /@/i;\nconst creator = $('RSS Feed Trigger').item.json.creator;\nconst iconUrlInit = `https://avatar-resolver.vercel.app/twitter/${creator}`;\n//const iconUrlFinal = iconUrlInit.replace(regexPattern, '');\nconst iconUrlFinal = \"https://pbs.twimg.com/profile_images/1635849339820990464/nFcZVUG6_400x400.jpg\";\nconst inputContent = $('RSS Feed Trigger').item.json.content;\nconst regex = /<img\\s+[^>]*src=\"([^\"]+)\"[^>]*>/g;\nconst match = regex.exec(inputContent);\nconst nameInit = `Orini (${creator})`;\nconst textInit = `Twitter • ${$('RSS Feed Trigger').item.json.pubDate}`;\n\nlet descriptionHyperlinked = $('RSS Feed Trigger').item.json['title'];\n// Use a regular expression to search for URLs within the description field\nconst urlRegex = /(https?:\\/\\/[^\\s]+)/g;\ndescriptionHyperlinked = descriptionHyperlinked.replace(urlRegex, '[$1]($1)');\n// Regular expression pattern to match hashtags\nconst hashtagRegex = /(^|\\s)(#[^\\s]+)/g;\n// Find all the hashtags in the description string\nconst hashtags = descriptionHyperlinked.match(hashtagRegex);\n// Replace the hashtags with URLs\nif (hashtags) {\n  hashtags.forEach(hashtag => {\n    const cleanHashtag = hashtag.substring(1); // Remove the '#' symbol\n    const hashtagUrl = `https://www.twitter.com/hashtag/${cleanHashtag.toLowerCase().replace('#', '')}`;\n    const hashtagLink = `[${hashtag}](${hashtagUrl})`; // Include the '#' symbol\n    descriptionHyperlinked = descriptionHyperlinked.replace(hashtag, `${hashtagLink}`);\n  });\n}\n\n// Regular expression pattern to match @ mentions\nconst mentionRegex = /(^|\\s)@(\\w+)/g;\n// Find all the @ mentions in the description string\nconst mentions = descriptionHyperlinked.match(mentionRegex);\n// Replace the @ mentions with URLs\nif (mentions) {\n  mentions.forEach(mention => {\n    const mentionWithoutSpace = mention.replace(/\\s/g, ''); // Remove any spaces before the mention\n    const username = mentionWithoutSpace.substring(1);\n    const mentionUrl = `https://twitter.com/${username}`;\n    const mentionLink = ` [@${username}](${mentionUrl})`; // Include the '@' symbol\n    descriptionHyperlinked = descriptionHyperlinked.replace(mention, mentionLink);\n  });\n}\n\n\nif (match && match[1]) {\n  const imgSrc = match[1];\n  let embed = {\n    color: 1942002,\n    author: {\n      name: nameInit,\n      url: $(\"RSS Feed Trigger\").item.json.link,\n      icon_url: iconUrlFinal,\n    },\n    url: $(\"RSS Feed Trigger\").item.json['link'],\n    image: {\n      url: imgSrc,\n    },\n    footer: {\n      text: textInit,\n      icon_url: 'https://i.imgur.com/s2qjM73.png',\n    },\n  };\n    embed.description = descriptionHyperlinked;\n  const body = {\n    embeds: [embed],\n  };\n  return { body };\n} else {\n  let embed = {\n     color: 1942002,\n    author: {\n      name: nameInit,\n      url: $(\"RSS Feed Trigger\").item.json.link,\n      icon_url: iconUrlFinal,\n    },\n    url: $(\"RSS Feed Trigger\").item.json['link'],\n    footer: {\n      text: textInit,\n      icon_url: 'https://i.imgur.com/s2qjM73.png',\n    },\n  };\n  embed.description = descriptionHyperlinked;\n  const body = {\n    embeds: [embed],\n  };\n  return { body };\n}"
      },
      "id": "673cbeab-7372-4792-b38a-8b82962d2019",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1100,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://media.guilded.gg/webhooks/REDACTED",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "0a5d3dc7-ed16-469b-be4e-5388bafeb2ed",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1320,
        460
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/Mexico_City",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "46ead880-a3bf-41d3-8a10-dc77a0c731a5",
  "id": "3",
  "meta": {
    "instanceId": "f3e8646dc25bb703680f7fd48308e56289d71dc10dc3ea0c5d57254342b6a676"
  },
  "tags": []
}