Self-Hosted Platforms/N8N/Twitter/_Guilded__Twitter_Artist_Feed___Orini__Orini_999__Luminis_Nobilite_.json
{
  "name": "(Guilded) Twitter Artist Feed - Orini @Orini_999 [Luminis Nobilite]",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function convertTimestamp(inputTimestamp) {\n  const dateObj = new Date(inputTimestamp);\n  const options = { weekday: 'short', day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', timeZone: 'GMT', timeZoneName: 'short' };\n  return dateObj.toLocaleString('en-US', options);\n}\n\nconst inputTimestamp = $('RSS Feed Trigger').item.json.pubDate;\nconst convertedTimestamp = convertTimestamp(inputTimestamp);\n\n\nconst regexPattern = /@/i;\nconst creator = $('RSS Feed Trigger').item.json.creator;\nconst iconUrl = \"https://raw.githubusercontent.com/LightCircleLLC/Eclipse/main/Assets/Twitter/Twitter%20Artist%20Feeds/Avatars/%40Orini_999_400x400.jpg\";\nconst inputContent = $('RSS Feed Trigger').item.json.content;\nconst regex = /<img\\s+[^>]*src=\"([^\"]+)\"[^>]*>/g;\nconst match = regex.exec(inputContent);\nconst nameInit = `Orini (${creator})`;\n\nlet descriptionHyperlinked = $('RSS Feed Trigger').item.json['title'];\n// Use a regular expression to search for URLs within the description field\nconst urlRegex = /(https?:\\/\\/[^\\s]+)/g;\ndescriptionHyperlinked = descriptionHyperlinked.replace(urlRegex, '[$1]($1)');\n// Regular expression pattern to match hashtags\nconst hashtagRegex = /(^|\\s)(#[^\\s]+)/g;\n// Find all the hashtags in the description string\nconst hashtags = descriptionHyperlinked.match(hashtagRegex);\n// Replace the hashtags with URLs\nif (hashtags) {\n  hashtags.forEach(hashtag => {\n    const cleanHashtag = hashtag.trim(); // Trim spaces at the start and end\n    const hashtagWithoutSharp = cleanHashtag.substring(1); // Remove the '#' symbol\n    const hashtagUrl = `https://www.twitter.com/hashtag/${hashtagWithoutSharp.toLowerCase()}`;\n    const hashtagLink = `[${cleanHashtag}](${hashtagUrl})`; // No extra spaces inside the brackets\n    descriptionHyperlinked = descriptionHyperlinked.replace(cleanHashtag, hashtagLink);\n  });\n}\n\n// Regular expression pattern to match @ mentions\nconst mentionRegex = /(^|\\s)@(\\w+)/g;\n// Find all the @ mentions in the description string\nconst mentions = descriptionHyperlinked.match(mentionRegex);\n// Replace the @ mentions with URLs\nif (mentions) {\n  mentions.forEach(mention => {\n    const mentionWithoutSpace = mention.replace(/\\s/g, ''); // Remove any spaces before the mention\n    const username = mentionWithoutSpace.substring(1);\n    const mentionUrl = `https://twitter.com/${username}`;\n    const mentionLink = ` [@${username}](${mentionUrl})`; // Include the '@' symbol\n    descriptionHyperlinked = descriptionHyperlinked.replace(mention, mentionLink);\n  });\n}\n\n\nif (match && match[1]) {\n  const imgSrc = match[1];\n  let embed = {\n    color: 1942002,\n    author: {\n      name: nameInit,\n      url: $(\"RSS Feed Trigger\").item.json.link,\n      icon_url: iconUrl,\n    },\n    url: $(\"RSS Feed Trigger\").item.json['link'],\n    image: {\n      url: imgSrc,\n    },\n    footer: {\n      text: String.prototype.concat(\"Twitter • \", convertedTimestamp),\n      icon_url: 'https://raw.githubusercontent.com/LightCircleLLC/Eclipse/main/Assets/Icons/Guilded/Guilded%20-%20Gold%20Twitter%20Icon%20v1.png',\n    },\n  };\n    embed.description = descriptionHyperlinked;\n  const body = {\n    embeds: [embed],\n  };\n  return { body };\n} else {\n  let embed = {\n     color: 1942002,\n    author: {\n      name: nameInit,\n      url: $(\"RSS Feed Trigger\").item.json.link,\n      icon_url: iconUrl,\n    },\n    url: $(\"RSS Feed Trigger\").item.json['link'],\n    footer: {\n      text: String.prototype.concat(\"Twitter • \", convertedTimestamp),\n      icon_url: 'https://raw.githubusercontent.com/LightCircleLLC/Eclipse/main/Assets/Icons/Guilded/Guilded%20-%20Gold%20Twitter%20Icon%20v1.png',\n    },\n  };\n  embed.description = descriptionHyperlinked;\n  const body = {\n    embeds: [embed],\n  };\n  return { body };\n}"
      },
      "id": "673cbeab-7372-4792-b38a-8b82962d2019",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1000,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://media.guilded.gg/webhooks/REDACTED",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "0a5d3dc7-ed16-469b-be4e-5388bafeb2ed",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1220,
        460
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "feedUrl": "http://REDACTED/i/?a=rss&get=f_21&state=3"
      },
      "id": "6f5ee3ee-bd75-4615-8865-02f42f4ad824",
      "name": "RSS Feed Trigger",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        820,
        460
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "America/Mexico_City",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "3b1d41bd-1a0d-415d-ba44-a94c64bc7bf8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f3e8646dc25bb703680f7fd48308e56289d71dc10dc3ea0c5d57254342b6a676"
  },
  "id": "3",
  "tags": []
}