Self-Hosted Platforms/N8N/AniList/_Guilded__AniList_Feed___Reisonancia_Manga__Light_Circle_.json
{
  "name": "(Guilded) AniList Feed - Reisonancia Manga [Light Circle]",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://media.guilded.gg/webhooks/REDACTED",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 10,
              "batchInterval": 10000
            }
          }
        }
      },
      "id": "dab250b7-92d9-44ff-a0e3-b2db697e5655",
      "name": "HTTP Request - Guilded Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1380,
        460
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour",
              "minute": 10
            }
          ]
        },
        "feedUrl": "=https://raw.githubusercontent.com/LightCircleLLC/AniList-RSS/refs/heads/main/Manga%20Feeds/anilist-manga-20.xml"
      },
      "id": "d58af988-a671-403d-8c28-c83cd6c4209a",
      "name": "RSS Feed Trigger",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        660,
        460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function convertTimestamp(inputTimestamp) {\n  const dateObj = new Date(inputTimestamp);\n  const options = {\n    weekday: 'short',\n    day: '2-digit',\n    month: 'short',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    timeZone: 'GMT',\n    timeZoneName: 'short'\n  };\n  return dateObj.toLocaleString('en-US', options);\n}\n\nconst inputTimestamp = $('RSS Feed Trigger').first().json.pubDate;\nconst convertedTimestamp = convertTimestamp(inputTimestamp);\n\n// Access the data from the AniList response for manga\nconst mangaData = $('HTTP Request - AniList API').first().json.data.Media;\n\n// Format the start and end dates\nconst formatDate = (date) => {\n  if (!date) return '';\n  const { day, month, year } = date;\n  return `${day ? day + ' ' : ''}${month ? new Date(0, month - 1).toLocaleString('en-US', { month: 'short' }) + ' ' : ''}${year || ''}`;\n};\n\n// List of possible fields with conditional checking for null or undefined values\nconst embedFields = [\n  { name: 'Format', value: mangaData.format, inline: true },\n  { name: 'Status', value: mangaData.status, inline: true },\n  { name: 'Chapters', value: mangaData.chapters?.toString(), inline: true },\n  { name: 'Volumes', value: mangaData.volumes?.toString(), inline: true },\n  { name: 'Start Date', value: formatDate(mangaData.startDate), inline: true },\n  { name: 'End Date', value: formatDate(mangaData.endDate), inline: true },\n  { name: 'Genres', value: mangaData.genres?.join(', '), inline: true },\n  { name: 'Average Score', value: mangaData.averageScore?.toString(), inline: true },\n  { name: 'Studios', value: mangaData.studios.nodes.map(studio => studio.name).join(', '), inline: true }\n].filter(field => field.value); // Filter out fields with null/undefined values\n\nvar body = {\n  embeds: [\n    {\n      color: 3035554,\n      author: {\n        name: \"Reisonantia's Recent Manga (AniList)\",\n        url: 'https://anilist.co/user/Reisonancia/',\n        icon_url: 'https://raw.githubusercontent.com/LightCircleLLC/Eclipse/refs/heads/main/Assets/AniList/Avatars/Reisonancia.png',\n      },\n      title: mangaData.title.romaji, // Using Romaji title from AniList\n      url: `https://anilist.co/manga/${mangaData.id}`, // URL to AniList manga page\n      image: {\n        url: mangaData.coverImage.extraLarge // Using extraLarge image from AniList\n      },\n      description: $('RSS Feed Trigger').first().json.title,\n      fields: embedFields, // Only includes fields with valid values\n      footer: {\n        text: `AniList • ${convertedTimestamp}`,\n        icon_url: 'https://anilist.co/img/icons/android-chrome-512x512.png',\n      }\n    }\n  ]\n};\n\nreturn { body };\n"
      },
      "id": "36c6fb75-fead-4e49-b9fc-0cd04e4ceaaa",
      "name": "Main Driver Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1200,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graphql.anilist.co",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query ($mangaId: Int) { Media(id: $mangaId, type: MANGA) { id title { romaji english native } description format chapters volumes status startDate { year month day } endDate { year month day } genres averageScore studios { nodes { name } } coverImage { extraLarge } } }\",\n  \"variables\": {\n    \"mangaId\": {{$json[\"mangaID\"]}}\n  }\n}\n",
        "options": {}
      },
      "id": "c5fa6b5c-c55a-46de-9998-c749b5143268",
      "name": "HTTP Request - AniList API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rssLink = $('RSS Feed Trigger').first().json.link;\nconst mangaID = rssLink.match(/manga\\/(\\d+)/)[1];\n\nreturn { mangaID };"
      },
      "id": "84b9c7fb-62b0-49a5-b22c-fda260220623",
      "name": "Fetch MangaID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        460
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Fetch MangaID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Driver Code": {
      "main": [
        [
          {
            "node": "HTTP Request - Guilded Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - AniList API": {
      "main": [
        [
          {
            "node": "Main Driver Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch MangaID": {
      "main": [
        [
          {
            "node": "HTTP Request - AniList API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "versionId": "7457e27f-a4a9-4e66-90a5-df50dd73d6b0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f3e8646dc25bb703680f7fd48308e56289d71dc10dc3ea0c5d57254342b6a676"
  },
  "id": "QDDR5SkzQuNx2C1L",
  "tags": []
}