Self-Hosted Platforms/N8N/Danbooru/_Guilded__Danbooru_SFW_NSFW_Feed___NIKKE__Light_Circle_.json
{
  "name": "(Guilded) Danbooru SFW/NSFW Feed - NIKKE [Light Circle]",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://media.guilded.gg/webhooks/REDACTED",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "payload_json",
              "value": "={{ JSON.stringify($json.itemPayload) }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "98cfd863-910f-440f-a9d5-1ca244dd69e3",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2720,
        400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7c09260b-576a-4f56-8429-40096ab508be",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1000,
        380
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.items }}",
        "options": {}
      },
      "id": "abc82df9-70b0-463e-9e6b-bf222d59d234",
      "name": "Danbooru API - Post URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1720,
        380
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "=data",
        "extractionValues": {
          "values": [
            {
              "key": "ogImage",
              "cssSelector": "meta[property=\"og:image\"]",
              "returnValue": "attribute",
              "attribute": "content"
            }
          ]
        },
        "options": {}
      },
      "id": "526512e0-6014-4f5e-927b-257017c43882",
      "name": "HTML - Extract OG Image URL",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        1900,
        380
      ]
    },
    {
      "parameters": {
        "url": "https://danbooru.donmai.us/posts.atom?tags=goddess_of_victory%3A_nikke",
        "options": {}
      },
      "id": "0c86c65a-6c16-4797-aeac-3d13138b9f98",
      "name": "Danbooru API HTTP Request - Atom Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        840,
        380
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.ogImage }}",
        "options": {}
      },
      "id": "18ae98fe-fcb1-4569-94ab-70f9927ad541",
      "name": "Danbooru CDN API - Image Binary Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2080,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function convertTimestamp(inputTimestamp) {\n  const dateObj = new Date(inputTimestamp);\n  const options = { weekday: 'short', day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', timeZone: 'GMT', timeZoneName: 'short' };\n  return dateObj.toLocaleString('en-US', options);\n}\n\nconst entries = $('Merge').item.json['filteredEntries'];\n\nconst payloads = [];\n\nfor (let i = 0; i < entries.length; i++) {\n  const item = $('Set').item.json.fileNameProperty[i];\n  if (item && item.fileNameData && item.fileNameData.fileName) {\n    const fileName = item.fileNameData.fileName;\n    const entry = entries[i];\n    const inputTimestamp = entry.updated;\n    const authorName = entry.author.name;\n    const convertedTimestamp = convertTimestamp(inputTimestamp);\n\n    const payload = {\n      embeds: [],\n    };\n\n    const embed = {\n      color: 11438438,\n      author: {\n        name: 'Goddess of Victory: NIKKE',\n        url: 'https://nikke-en.com/',\n        icon_url: 'https://www.prydwen.gg/static/249325af661515f4234e6a046fe8a064/e9a79/cocoa_icon.png',\n      },\n      title: entry.title,\n      url: entry.id,\n      image: {\n        url: `attachment://${fileName}`,\n      },\n      footer: {\n        text: `Danbooru • ${convertedTimestamp} • ${authorName || ''}`,\n        icon_url: 'https://avatars.githubusercontent.com/u/57931572?s=280&v=4',\n      },\n    };\n\n    const itemPayload = {\n      itemPayload: {embeds: [embed],\n      },\n    };\n\n    payloads.push(itemPayload);\n  }\n}\n\nreturn payloads;"
      },
      "id": "0583d43e-9e27-495d-adb8-14ab8d737319",
      "name": "Main Driver Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2360,
        580
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "679f8be8-4dfb-472e-b26d-308e4969f39e",
      "name": "Merge - Binary Data Branch",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2580,
        400
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 20
            }
          ]
        }
      },
      "id": "5b77426b-3081-46b4-a006-d7e397ad9397",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        660,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "const workflowStaticData = $getWorkflowStaticData('global');\nconst lastExecution =  workflowStaticData.lastExecution;\nworkflowStaticData.lastExecution = new Date().getTime();\nconst filteredEntries = [];\n\nfor (let item of items) {\n  const entries = item.json.feed.entry;\n\n  for (let entry of entries) {\n    const entryTimestamp = new Date(entry.updated).getTime();\n\n    if (entryTimestamp > lastExecution) {\n      // Perform your desired action for entries that are after the last execution\n      // For example, you can add them to the filteredEntries array or send them to the next node in the workflow\n\n      filteredEntries.push(entry);\n    }\n  }\n}\n\nreturn { filteredEntries };\n"
      },
      "id": "8a4cead1-0027-4a3c-90a9-dc6e501bbf6d",
      "name": "Entry Index Filter Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1200,
        560
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "3075ad71-be5b-4962-afbb-f849f20cedcf",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        1540,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const items = $json['filteredEntries'].map(entry => entry['link'][0]['href']);\n\nreturn { items };"
      },
      "id": "18ddb8ec-cd16-40a3-87ab-15266393b630",
      "name": "Return All Danbooru Post URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1380,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "let results = [];\n\nfor (items of items) {\n    for (key of Object.keys(items.binary)) {\n        results.push({\n            fileNameData: {\n                fileName: items.binary[key].fileName\n            }\n        });\n    }\n}\n\nreturn { results };"
      },
      "id": "1f1ffbea-469b-4559-8223-96175435b205",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1900,
        640
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "fileNameProperty",
              "value": "={{ $json.results }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "f869277e-a91f-4ccc-b8ee-db8ec17826d7",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2040,
        640
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "4fd3dafe-1104-4b86-93cf-5490a397ca48",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2220,
        580
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "XML": {
      "main": [
        [
          {
            "node": "Entry Index Filter Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Danbooru API - Post URL": {
      "main": [
        [
          {
            "node": "HTML - Extract OG Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Danbooru API HTTP Request - Atom Feed": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Danbooru CDN API - Image Binary Data": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge - Binary Data Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Driver Code": {
      "main": [
        [
          {
            "node": "Merge - Binary Data Branch",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - Binary Data Branch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML - Extract OG Image URL": {
      "main": [
        [
          {
            "node": "Danbooru CDN API - Image Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Danbooru API HTTP Request - Atom Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entry Index Filter Code": {
      "main": [
        [
          {
            "node": "Return All Danbooru Post URLs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Danbooru API - Post URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return All Danbooru Post URLs": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Main Driver Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataErrorExecution": "none",
    "executionTimeout": -1,
    "executionOrder": "v1"
  },
  "versionId": "b7006073-e335-432b-879b-7f760434e9fb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f3e8646dc25bb703680f7fd48308e56289d71dc10dc3ea0c5d57254342b6a676"
  },
  "id": "74",
  "tags": []
}