Self-Hosted Platforms/N8N/Danbooru/_Guilded__Danbooru_SFW_NSFW_Feed___Virtual_Youtuber__Light_Circle_.json
{
  "name": "(Guilded) Danbooru SFW/NSFW Feed - Virtual Youtuber [Light Circle]",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://media.guilded.gg/webhooks/REDACTED",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "payload_json",
              "value": "={{ JSON.stringify($json.itemPayload) }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "20e3aea1-cdba-435e-b2ec-af439e7abf21",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2720,
        400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e6eed1ae-5cc4-4bae-8422-a5eb39f39291",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1000,
        380
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.items }}",
        "options": {}
      },
      "id": "09376d6f-6c54-4df5-b8f5-bf3bd9665f6b",
      "name": "Danbooru API - Post URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1720,
        380
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "=data",
        "extractionValues": {
          "values": [
            {
              "key": "ogImage",
              "cssSelector": "meta[property=\"og:image\"]",
              "returnValue": "attribute",
              "attribute": "content"
            }
          ]
        },
        "options": {}
      },
      "id": "c0aef270-3214-40b1-91be-784cc8602f43",
      "name": "HTML - Extract OG Image URL",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        1900,
        380
      ]
    },
    {
      "parameters": {
        "url": "https://danbooru.donmai.us/posts.atom?tags=virtual_youtuber",
        "options": {}
      },
      "id": "ee1f7def-4801-47fc-ba3a-b59ff82c521b",
      "name": "Danbooru API HTTP Request - Atom Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        840,
        380
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.ogImage }}",
        "options": {}
      },
      "id": "de205963-e714-4577-be0f-31c6948bf6df",
      "name": "Danbooru CDN API - Image Binary Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2080,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function convertTimestamp(inputTimestamp) {\n  const dateObj = new Date(inputTimestamp);\n  const options = { weekday: 'short', day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', timeZone: 'GMT', timeZoneName: 'short' };\n  return dateObj.toLocaleString('en-US', options);\n}\n\nconst entries = $('Merge').item.json['filteredEntries'];\n\nconst payloads = [];\n\nfor (let i = 0; i < entries.length; i++) {\n  const item = $('Set').item.json.fileNameProperty[i];\n  if (item && item.fileNameData && item.fileNameData.fileName) {\n    const fileName = item.fileNameData.fileName;\n    const entry = entries[i];\n    const inputTimestamp = entry.updated;\n    const authorName = entry.author.name;\n    const convertedTimestamp = convertTimestamp(inputTimestamp);\n\n    const payload = {\n      embeds: [],\n    };\n\n    const embed = {\n      color: 11438438,\n      author: {\n        name: 'Virtual Youtuber',\n        url: 'https://virtualyoutuber.fandom.com/wiki/Virtual_YouTuber_Wiki',\n        icon_url: 'https://64.media.tumblr.com/3b4a5f109549b40a059c910845450887/8fd485ca8a14b1ba-9c/s1280x1920/774b7f39f523e9183bfafa99c4990fdbe61898c5.png',\n      },\n      title: entry.title,\n      url: entry.id,\n      image: {\n        url: `attachment://${fileName}`,\n      },\n      footer: {\n        text: `Danbooru • ${convertedTimestamp} • ${authorName || ''}`,\n        icon_url: 'https://avatars.githubusercontent.com/u/57931572?s=280&v=4',\n      },\n    };\n\n    const itemPayload = {\n      itemPayload: {embeds: [embed],\n      },\n    };\n\n    payloads.push(itemPayload);\n  }\n}\n\nreturn payloads;"
      },
      "id": "a73f9b06-eeed-4ce5-9ff2-9d4227212c79",
      "name": "Main Driver Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2360,
        580
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "3a1368da-7914-4c54-bf85-89c620b7cc1f",
      "name": "Merge - Binary Data Branch",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2580,
        400
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 20
            }
          ]
        }
      },
      "id": "d177155e-4368-4965-8c79-50b8c2010344",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        660,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "const workflowStaticData = $getWorkflowStaticData('global');\nconst lastExecution =  workflowStaticData.lastExecution;\nworkflowStaticData.lastExecution = new Date().getTime();\nconst filteredEntries = [];\n\nfor (let item of items) {\n  const entries = item.json.feed.entry;\n\n  for (let entry of entries) {\n    const entryTimestamp = new Date(entry.updated).getTime();\n\n    if (entryTimestamp > lastExecution) {\n      // Perform your desired action for entries that are after the last execution\n      // For example, you can add them to the filteredEntries array or send them to the next node in the workflow\n\n      filteredEntries.push(entry);\n    }\n  }\n}\n\nreturn { filteredEntries };\n"
      },
      "id": "b4ad46b2-0c22-4de1-b23d-6ba061c6b651",
      "name": "Entry Index Filter Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1200,
        560
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "1c3533b7-2c85-4928-854d-50d1a5c5cc2e",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        1540,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const items = $json['filteredEntries'].map(entry => entry['link'][0]['href']);\n\nreturn { items };"
      },
      "id": "c15ac279-6197-420b-b285-49ba87d10206",
      "name": "Return All Danbooru Post URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1380,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "let results = [];\n\nfor (items of items) {\n    for (key of Object.keys(items.binary)) {\n        results.push({\n            fileNameData: {\n                fileName: items.binary[key].fileName\n            }\n        });\n    }\n}\n\nreturn { results };"
      },
      "id": "6ef36586-fbd6-40cd-8243-1a4208ee7c58",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1900,
        640
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "fileNameProperty",
              "value": "={{ $json.results }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "7fcac671-e654-4b99-885b-a50527dd60ac",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2040,
        640
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "77e5d2fc-240b-4c05-83bd-aef2e377adab",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2220,
        580
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "XML": {
      "main": [
        [
          {
            "node": "Entry Index Filter Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Danbooru API - Post URL": {
      "main": [
        [
          {
            "node": "HTML - Extract OG Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Danbooru API HTTP Request - Atom Feed": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Danbooru CDN API - Image Binary Data": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge - Binary Data Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Driver Code": {
      "main": [
        [
          {
            "node": "Merge - Binary Data Branch",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - Binary Data Branch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML - Extract OG Image URL": {
      "main": [
        [
          {
            "node": "Danbooru CDN API - Image Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Danbooru API HTTP Request - Atom Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entry Index Filter Code": {
      "main": [
        [
          {
            "node": "Return All Danbooru Post URLs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Danbooru API - Post URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return All Danbooru Post URLs": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Main Driver Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataErrorExecution": "none",
    "executionTimeout": -1,
    "executionOrder": "v1"
  },
  "versionId": "7907b530-07d5-4bf2-9cec-b18eec8968dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f3e8646dc25bb703680f7fd48308e56289d71dc10dc3ea0c5d57254342b6a676"
  },
  "id": "70",
  "tags": []
}