Self-Hosted Platforms/N8N/Danbooru/_Guilded__Danbooru_SFW_NSFW_Feed___Uma_Musume__Luminis_Nobilite_.json
{
  "name": "(Guilded) Danbooru SFW/NSFW Feed - Uma Musume [Luminis Nobilite]",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://media.guilded.gg/webhooks/REDACTED",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "payload_json",
              "value": "={{ JSON.stringify($json.itemPayload) }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "0629713c-8b41-4e5a-86a8-2dff0ab1b638",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2720,
        400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1325bee5-c0d9-48e2-91a8-8c903d85974f",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1000,
        380
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.items }}",
        "options": {}
      },
      "id": "c544517c-e89d-4df6-88b6-562e92c2de89",
      "name": "Danbooru API - Post URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1720,
        380
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "=data",
        "extractionValues": {
          "values": [
            {
              "key": "ogImage",
              "cssSelector": "meta[property=\"og:image\"]",
              "returnValue": "attribute",
              "attribute": "content"
            }
          ]
        },
        "options": {}
      },
      "id": "570dbc67-ea63-4815-ab19-60773cab933f",
      "name": "HTML - Extract OG Image URL",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        1900,
        380
      ]
    },
    {
      "parameters": {
        "url": "https://danbooru.donmai.us/posts.atom?tags=umamusume",
        "options": {}
      },
      "id": "dc962b19-d728-4205-94bc-eb93089a8999",
      "name": "Danbooru API HTTP Request - Atom Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        840,
        380
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.ogImage }}",
        "options": {}
      },
      "id": "1b35899e-a1a0-481f-94d5-07a41728bbf7",
      "name": "Danbooru CDN API - Image Binary Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2080,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "function convertTimestamp(inputTimestamp) {\n  const dateObj = new Date(inputTimestamp);\n  const options = { weekday: 'short', day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', timeZone: 'GMT', timeZoneName: 'short' };\n  return dateObj.toLocaleString('en-US', options);\n}\n\nconst entries = $('Merge').item.json['filteredEntries'];\n\nconst payloads = [];\n\nfor (let i = 0; i < entries.length; i++) {\n  const item = $('Set').item.json.fileNameProperty[i];\n  if (item && item.fileNameData && item.fileNameData.fileName) {\n    const fileName = item.fileNameData.fileName;\n    const entry = entries[i];\n    const inputTimestamp = entry.updated;\n    const authorName = entry.author.name;\n    const convertedTimestamp = convertTimestamp(inputTimestamp);\n\n    const payload = {\n      embeds: [],\n    };\n\n    const embed = {\n      color: 11438438,\n      author: {\n        name: 'Uma Musume Pretty Derby',\n        url: 'https://umamusume.fandom.com/wiki/Uma_Musume_Wiki',\n        icon_url: 'https://static1.personality-database.com/profile_images/1c531c8637cc4119a1c6d3028d2895a5.png',\n      },\n      title: entry.title,\n      url: entry.id,\n      image: {\n        url: `attachment://${fileName}`,\n      },\n      footer: {\n        text: `Danbooru • ${convertedTimestamp} • ${authorName || ''}`,\n        icon_url: 'https://avatars.githubusercontent.com/u/57931572?s=280&v=4',\n      },\n    };\n\n    const itemPayload = {\n      itemPayload: {embeds: [embed],\n      },\n    };\n\n    payloads.push(itemPayload);\n  }\n}\n\nreturn payloads;"
      },
      "id": "7bc6aac3-08f1-4cd0-a659-88428af06a10",
      "name": "Main Driver Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2360,
        580
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "6219a834-736c-4ba0-8e52-e40cdfc1c33f",
      "name": "Merge - Binary Data Branch",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2580,
        400
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 20
            }
          ]
        }
      },
      "id": "82943079-973e-4829-a249-083935b9a15a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        660,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "const workflowStaticData = $getWorkflowStaticData('global');\nconst lastExecution =  workflowStaticData.lastExecution;\nworkflowStaticData.lastExecution = new Date().getTime();\nconst filteredEntries = [];\n\nfor (let item of items) {\n  const entries = item.json.feed.entry;\n\n  for (let entry of entries) {\n    const entryTimestamp = new Date(entry.updated).getTime();\n\n    if (entryTimestamp > lastExecution) {\n      // Perform your desired action for entries that are after the last execution\n      // For example, you can add them to the filteredEntries array or send them to the next node in the workflow\n\n      filteredEntries.push(entry);\n    }\n  }\n}\n\nreturn { filteredEntries };\n"
      },
      "id": "7e9a71cd-68fd-4940-8db7-2e6290381685",
      "name": "Entry Index Filter Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1200,
        560
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "bc881559-099e-433e-80c6-97cccd2256be",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        1540,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const items = $json['filteredEntries'].map(entry => entry['link'][0]['href']);\n\nreturn { items };"
      },
      "id": "edd7a3b9-bd4a-433f-9264-be3f0117a180",
      "name": "Return All Danbooru Post URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1380,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "let results = [];\n\nfor (items of items) {\n    for (key of Object.keys(items.binary)) {\n        results.push({\n            fileNameData: {\n                fileName: items.binary[key].fileName\n            }\n        });\n    }\n}\n\nreturn { results };"
      },
      "id": "ca6004bc-61d1-4fba-9aa9-cccabcbe78aa",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1900,
        640
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "fileNameProperty",
              "value": "={{ $json.results }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "fc429187-776e-4794-bc8e-c685d2b5908e",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2040,
        640
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "0a41dd34-37f8-4259-b21b-733f873f5c3d",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2220,
        580
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "XML": {
      "main": [
        [
          {
            "node": "Entry Index Filter Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Danbooru API - Post URL": {
      "main": [
        [
          {
            "node": "HTML - Extract OG Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Danbooru API HTTP Request - Atom Feed": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Danbooru CDN API - Image Binary Data": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge - Binary Data Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Driver Code": {
      "main": [
        [
          {
            "node": "Merge - Binary Data Branch",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - Binary Data Branch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML - Extract OG Image URL": {
      "main": [
        [
          {
            "node": "Danbooru CDN API - Image Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Danbooru API HTTP Request - Atom Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entry Index Filter Code": {
      "main": [
        [
          {
            "node": "Return All Danbooru Post URLs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Danbooru API - Post URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return All Danbooru Post URLs": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Main Driver Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataErrorExecution": "none"
  },
  "versionId": "19629ecc-1a79-4cb8-8b74-ee1925b28023",
  "id": "76",
  "meta": {
    "instanceId": "f3e8646dc25bb703680f7fd48308e56289d71dc10dc3ea0c5d57254342b6a676"
  },
  "tags": []
}